body {
  font-family: Arial, sans-serif;
  margin: 0;
  background: #fff;
}
header {
  background: #9ED3E8;
  padding: 50px 0 25px 0;
  margin: 0;
  text-align: center;
  color: #1D3557;
}
.navbar {
  display: flex;
  background-color: #457B9D;
  margin: 0;
  padding: 0 40px;
  height: 60px;
  align-items: center;
}
.navbar a {
  color: white;
  padding: 14px 20px;
  text-decoration: none;
  text-align: center;
}
.navbar a:hover {
  background-color: #A8DADC;
  color: black;
}
.container {
  display: flex;
  flex-wrap: wrap;
  background: white;
  padding: 24px 16px 20px 16px;
  max-width: 1200px;
  margin: 0 auto;
}

.bloco {
  background: #f4f4f4;
  border-radius: 10px;
  border: 1px solid #457B9D;
  box-shadow: 0 2px 10px rgba(0,0,0,0.07);
  width: 100%;
  padding: 30px 20px;
}

.titulo {
  font-size: 1.5rem;
  color: #146ca3;
  margin-bottom: 18px;
  font-weight: bold;
  letter-spacing: 1px;
}

.galeria {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(2, auto);
  gap: 18px;
  margin-top: 15px;
}

.item-galeria {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  text-align: center;
}

.item-galeria a {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.item-galeria img {
  width: 100%;
  display: block;
  max-width: 180px;
  height: auto;
  border-radius: 8px;
  box-shadow: 0 3px 8px rgba(0,0,0,0.12);
  transition: transform 0.3s, box-shadow 0.3s;
  align-items: center;
}

.item-galeria a:hover img {
  transform: scale(1.07);
  box-shadow: 0 8px 16px rgba(0,0,0,0.24);
}

.descricao {
  margin-top: 10px;
  color: #313c44;
  font-size: 0.98rem;
  text-align: center;
  padding: 0 2px;
  width: 100%;
  font-weight: bold;
}

footer {
  background: #39759b;
  color: #fff;
  text-align: center;
  padding: 25px 0 12px 0;
  margin-top: 60px;
}

footer h4 {
  margin: 0;
  font-weight: 400;
}

@media (max-width: 1024px) {
  .galeria { grid-template-columns: repeat(3, 1fr); }
}
@media (max-width: 768px) {
  .navbar { flex-direction: column; height: auto; }
  .container { padding: 10px; }
  .galeria { grid-template-columns: repeat(2, 1fr); }
}
@media (max-width: 480px) {
  .galeria { grid-template-columns: 1fr; }
  .item-galeria img { max-width: 100%; }
}

